*{
   padding:0;
   margin:0;
   border:0;
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block;}

html,body{
   height: 100%;
   line-height: 1;
   font-size: 16px;
   font-family: Montserrat;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   overflow: hidden;
   color:#000
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
.content{
   width: 1000px;
   max-width: 100%;
   height: 100%;
   margin: 0px auto;

}
.buttonfather{
   display: flex;
   justify-content: center;
   width:100%;
   height:100%;
}
.butt{
   width: 28%;
   height: 9%;
   font-size: 2em;
   margin: auto;
   border-radius: 14px;
   background-color: #dbdbdb;
}
.butt:hover{
   background-color: #cccccc;
}
input{
   height: 45px;
   width: 100%;
   font-size: 13px;
   line-height: 16px;
   border: 2px solid #E9F2FF;
   border-radius: 5px;
   padding-left: 1.7em;
   color: #3b5983;
}
input:focus{
   outline: none;
   border: 2px solid #c1d9fd
}
.main{
   background: #f1f5fe;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.circle{
   position: absolute;
   z-index: 1;
   width: 534px;
   height: 534px;
   background: #f7faff;
   border-radius: 50%;
   box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
}
.form-title{
   color: #30507D;
   font-weight: 500;
   font-size:20px;
   line-height: 23px;
   margin-bottom: 2em;
}
.register-form{
   opacity: 0;
   position: relative;
   z-index: 2;
   max-width:415px;
   width: 100%;
   background: #ffffff;
   box-shadow: 0px 6px 50px rgba(217,219,255, 0.7);
   border-radius: 20px;
   padding-left: 2em;
   padding-right: 2em;
   padding-top: 2em;
   padding-bottom: 2em;
   animation-name: fadeform;
   animation-duration: .7s;
   animation-timing-function: ease-in-out;
   animation-delay: .2s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
@keyframes fadeform{
   0%{
      opacity: 0;
   }
   25%{
      opacity: 0.25;
   }
   50%{
      opacity: 0.5;
   }
   75%{
      opacity: 0.75;
   }
   100%{
      opacity: 1;
   }
}
.from-field{
   margin-bottom: 1em;
}
.button{
   width: 100%;
   font-weight: bold;
   font-size: 14px;
   height: 35px;
   display: block;
   background: #247fff;
   border-radius: 5px;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
   align-items: center;
   padding-bottom: 3em;
   line-height: 45px;
}
.button:hover {
   background-color: #0d6cf2;
}
.button-google{
   color: #c6cfdc;
   background: #f2f6ff;
}
.button-google:hover{
   background: #b3b3b3;
   color: #fff;
}
.divider{
   font-weight: 500;
   font-size:12px;
   line-height: 14px;
   color:#405d87;
   text-align: center;
   padding-top: 1.4em;
   padding-bottom: 1.4em;
}
