*{
   padding:0;
   margin:0;
   border:0;
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block;}

html,body{
   height: 100%;
   line-height: 1;
   font-size: 16px;
   font-family: Montserrat;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   overflow: hidden;
   color:#000;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body{
   background-image: url(../img/2022-11-22_17-51-32.png);
   background-repeat: repeat;
}
header{
   background-color:#F4CD2A;
}
.shell{
   width: 1200px;
   max-width: 100%;
   margin: 0 auto;
   height: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.navigation-block{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
   padding: 1em;
}
.title{
   color: #FFFFFF;
   font-weight: bold;
   font-size: 2em;
}
.navigation{
   margin-left: 1em;
   margin-right: 1em;
   font-size: 20px;
   font-weight: 500;
}
.navigation:hover {
   color: #0d6cf2;
}
.navigation.active:hover{
   color:#DC2903
}
main{
   margin: 3em;
   z-index: 1;
}
.container{
   width: 1200px;
   max-width: 100%;
   height: 70vh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   border: 5px solid transparent;
   background: linear-gradient(to right, #F02B10 , #F4CD2A, #1E7FD8, #13AB3E);
   box-shadow: inset 0px 0px 0px 100vw #fff; 
   border-radius: 12px; 
}
.registration{
   display: flex;
   justify-content: space-between;
}
.profiledrop{
   display: block;
}
.profile{
   display: block;
   border: 3px solid white;
   border-radius: 50%;
   margin-right: 0.9em;
}
.profile:hover{
   border: 3px solid #4993f5;
}
.buttonlogin{
   font-size: 16px;
   height: 35px;
   font-weight: bold;
   background: #247fff;
   border-radius: 5px;
   color: #ffffff;
   padding: 0.5em;
   margin-left: 1em;
   margin-right: 0.9em;
}
.buttonregistration{
   font-weight: bold;
   height: 35px;
   font-size: 16px;
   padding: 0.5em;
   background: #247fff;
   border-radius: 5px;
   color: #ffffff;
   margin-left: 0.9em;
}
.buttonlogin:hover{
   background-color: #0d6cf2;
}
.buttonregistration:hover{
   background-color: #0d6cf2;
}
.active{
   color:#DC2903
}
.firstrowcontainer{
   display: block
}
.firstrow.first{
   margin: 0 auto;
   padding-top: 2.5em;
   display: flex; 
   justify-content: center;
}
.firstrow{
   margin: 0 auto;
   padding-top: 1em;
   display: flex; 
   justify-content: center;
}
.secondrow{
   margin: 0 auto;
   margin-right: 8em;
   margin-top: 1em;
   display: flex;
   justify-content: center;
}
.secondrowcontainer{
   display: block;
}
#text{
   margin-top: 17px;
   margin-left: 30px;
   font-size: 24px;
   width: 100%;
   height: 100%;
   z-index: 5;
   position: absolute;
}
.hexagons {
   margin-top: 2em;
   margin-left: 0.5em;
   margin-right: 0.5em;
   width: 108px;
   height: 60px;
   background: #EEEEEE;
   box-shadow: 0 0 5px;
   position: relative;
}
.hexagons:before, 
.hexagons:after {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: #EEEEEE;
   top: 0;
   left: 0;
}
.hexagons:before {
   transform: rotate(60deg);
   box-shadow: 0 0 5px;
}
.hexagons:after {
   transform: rotate(-60deg);
}
.hexagons:hover{
   box-shadow: 0 0 10px red;
} 
.hexagons:hover:before{
   box-shadow: 0 0 10px red;
}
